.home_page {
	margin-top: 6rem;
	align-items: center;
	text-align: center;
	justify-content: center;
	min-height: 100vh;
	height: 150px;
	background: -moz-linear-gradient(
		top,
		#1e5799 0%,
		#2989d8 50%,
		#207cca 51%,
		#7db9e8 100%
	); /* FF3.6+ */

	/* background-color: #4ca1af;
	background-image: radial-gradient(135deg, #4ca1af 0%, #c4e0e5 100%); */
	/* background-image: radial-gradient(135deg, #4ca1af 0%, #c4e0e5 100%); */
}
img {
	max-width: 280px;
}
input[type="file"] {
	padding: 10px;
}

/* For button, its cool isn't it? */

.btn-three {
	color: black;
	transition: all 0.1s;
	position: relative;
	min-width: 250px;
}
.btn-three::before {
	color: white !important;
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 1;
	background-color: rgba(6, 4, 27, 0.781);
	transition: all 0.3s;
}
.btn-three:hover::before {
	opacity: 0;
	transform: scale(0.5, 0.5);
}
.btn-three::after {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 1;
	opacity: 0;
	transition: all 0.3s;
	border: 1px solid rgba(8, 5, 5, 0.5);
	transform: scale(1.2, 1.2);
}
.btn-three:hover::after {
	opacity: 1;
	transform: scale(1, 1);
}
